{% extends 'base.html.twig' %}

{% block title %}Profile/Twitter{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags("profile") }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags("profile") }}
{% endblock %}

{% block body %}
{% include "_twitter_layout_left.html.twig" %}
<div class="phone">
  <!-- <img src="Screenshot_1.png" alt=""> -->
  <div class="content">
    <div class="drop image"></div>
    {% if app.user.picture is null %}
    <div class="avatar" style="background: url('../img/backgrounds/default_profile.png');"></div>
    {% else %}
    <div class="avatar" style=" background: url('{{profile_image ~ app.user.picture}}');"></div>
    {% endif %}
    <div class="name">{{app.user.firstname}} {{app.user.lastname}}</div>
    <div class="tag">@{{app.user.username}}</div>
    <p class="text">{{app.user.bio}}</p>
    <div class="tweetsCount">
    	<span class="count">73</span><span class="what">Tweets</span>
    </div>
    
    <div class="divider"></div>
  </div>
  <div class="tw-block-parent">
  {% for post in posts %}
		
		<div class="timeline-TweetList-tweet">
			<div class="timeline-Tweet">
				<div class="timeline-Tweet-brand">
					<div class="Icon Icon--twitter"></div>
				</div>
				<div class="timeline-Tweet-author">
					<div class="TweetAuthor"><a class="TweetAuthor-link" href="#channel"> </a><span class="TweetAuthor-avatar"> 
					{% if post.user.picture is null %}
					<div class="Avatar" style="background: url('../img/backgrounds/default_profile.png');"> </div></span><span class="TweetAuthor-name">{{post.user.username}} </span> <span class="Icon Icon--verified"> </span><span class="TweetAuthor-screenName">@{{post.user.username}} </span></div>
					{% else %}
						<div class="Avatar" style="background: url({{profile_image ~ post.user.picture}});"> </div></span><span class="TweetAuthor-name">{{post.user.username}} </span> <span class="Icon Icon--verified"> </span><span class="TweetAuthor-screenName">@{{post.user.username}} </span></div>
					{% endif %}
				</div>
				<div class="timeline-Tweet-text">{{post.content}}</div>
				{% if post.picture is null %}

				{% else %}
					<img src="{{images ~ post.picture}}" class="picture-post"/>
				{% endif %}

				<div class="timeline-Tweet-metadata"><span class="timeline-Tweet-timestamp">{{post.createdAt|date('d M Y H:i:s')}}</span></div>
				<ul class="timeline-Tweet-actions">
					<li class="timeline-Tweet-action"><a class="fa-regular fa-heart" href="#"></a></li>
					<li class="timeline-Tweet-action"><a class="fa-solid fa-reply" href="{{ path('show_post', {'id': post.id}) }}"></a></li>
				</ul>
			</div>
		</div>
	
	{% endfor %}
</div>
</div>
	
{% include "_twitter_layout_right.html.twig" %}
{% endblock %}
