{% extends 'base.html.twig' %}

{% block title %}Accueil / Twitter{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags("home") }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags("home") }}
{% endblock %}

{% block body %}
  <form action="" class="write-twit">
        <div class="picture-text">
            <img class="user-img-40" src="{{ post.user.img|default('https://avatars.dicebear.com/api/pixel-art/' ~ random() ~'.svg') }}" />
            <textarea name="" id="" cols="30" rows="3" placeholder="Quoi de neuf?"></textarea>
        </div>
        <button type="submit" class="add-tweet">Tweeter</button>
    </form>

		<div class="tw-block-parent">
		<div class="timeline-TweetList-tweet">
			<div class="timeline-Tweet">
				<div class="timeline-Tweet-brand">
					<div class="Icon Icon--twitter"></div>
				</div>
				<div class="timeline-Tweet-author">
					<div class="TweetAuthor"><a class="TweetAuthor-link" href="#channel"> </a><span class="TweetAuthor-avatar"> 
							<div class="Avatar"> </div></span><span class="TweetAuthor-name">TwitterDev </span><span class="Icon Icon--verified"> </span><span class="TweetAuthor-screenName">@TwitterDev </span></div>
				</div>
				<div class="timeline-Tweet-text">We're excited for the inaugural Twitter Community Meetup<a href="#">@TwitterSeattle </a><span>tomorrow! </span><a href="#">#TapIntoTwitter </a><a href="#">meetup.com/Seattle-Twitte… </a></div>
				<div class="timeline-Tweet-metadata"><span class="timeline-Tweet-timestamp">9h</span></div>
				<ul class="timeline-Tweet-actions">
					<li class="timeline-Tweet-action"><a class="fa-regular fa-heart" href="#"></a></li>
					<li class="timeline-Tweet-action"><a class="fa-solid fa-reply" href="#"></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="tw-block-parent">
		<div class="timeline-TweetList-tweet">
			<div class="timeline-Tweet">
				<div class="timeline-Tweet-brand">
					<div class="Icon Icon--twitter"></div>
				</div>
				<div class="timeline-Tweet-author">
					<div class="TweetAuthor"><a class="TweetAuthor-link" href="#channel"> </a><span class="TweetAuthor-avatar"> 
							<div class="Avatar"> </div></span><span class="TweetAuthor-name">TwitterDev </span><span class="Icon Icon--verified"> </span><span class="TweetAuthor-screenName">@TwitterDev </span></div>
				</div>
				<div class="timeline-Tweet-text">We're excited for the inaugural Twitter Community Meetup<a href="#">@TwitterSeattle </a><span>tomorrow! </span><a href="#">#TapIntoTwitter </a><a href="#">meetup.com/Seattle-Twitte… </a></div>
				<div class="timeline-Tweet-metadata"><span class="timeline-Tweet-timestamp">9h</span></div>
				<ul class="timeline-Tweet-actions">
					<li class="timeline-Tweet-action"><a class="fa-regular fa-heart" href="#"></a></li>
					<li class="timeline-Tweet-action"><a class="fa-solid fa-reply" href="#"></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="tw-block-parent">
		<div class="timeline-TweetList-tweet">
			<div class="timeline-Tweet">
				<div class="timeline-Tweet-brand">
					<div class="Icon Icon--twitter"></div>
				</div>
				<div class="timeline-Tweet-author">
					<div class="TweetAuthor"><a class="TweetAuthor-link" href="#channel"> </a><span class="TweetAuthor-avatar"> 
							<div class="Avatar"> </div></span><span class="TweetAuthor-name">TwitterDev </span><span class="Icon Icon--verified"> </span><span class="TweetAuthor-screenName">@TwitterDev </span></div>
				</div>
				<div class="timeline-Tweet-text">We're excited for the inaugural Twitter Community Meetup<a href="#">@TwitterSeattle </a><span>tomorrow! </span><a href="#">#TapIntoTwitter </a><a href="#">meetup.com/Seattle-Twitte… </a></div>
				<div class="timeline-Tweet-metadata"><span class="timeline-Tweet-timestamp">9h</span></div>
				<ul class="timeline-Tweet-actions">
					<li class="timeline-Tweet-action"><a class="fa-regular fa-heart" href="#"></a></li>
					<li class="timeline-Tweet-action"><a class="fa-solid fa-reply" href="#"></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="tw-block-parent">
		<div class="timeline-TweetList-tweet">
			<div class="timeline-Tweet">
				<div class="timeline-Tweet-brand">
					<div class="Icon Icon--twitter"></div>
				</div>
				<div class="timeline-Tweet-author">
					<div class="TweetAuthor"><a class="TweetAuthor-link" href="#channel"> </a><span class="TweetAuthor-avatar"> 
							<div class="Avatar"> </div></span><span class="TweetAuthor-name">TwitterDev </span><span class="Icon Icon--verified"> </span><span class="TweetAuthor-screenName">@TwitterDev </span></div>
				</div>
				<div class="timeline-Tweet-text">We're excited for the inaugural Twitter Community Meetup<a href="#">@TwitterSeattle </a><span>tomorrow! </span><a href="#">#TapIntoTwitter </a><a href="#">meetup.com/Seattle-Twitte… </a></div>
				<div class="timeline-Tweet-metadata"><span class="timeline-Tweet-timestamp">9h</span></div>
				<ul class="timeline-Tweet-actions">
					<li class="timeline-Tweet-action"><a class="fa-regular fa-heart" href="#"></a></li>
					<li class="timeline-Tweet-action"><a class="fa-solid fa-reply" href="#"></a></li>
				</ul>
			</div>
		</div>
	</div>

	

{% endblock %}
