<div class="twitter-wrap">
    <div class="side-left">
        <ul class="menu">
            <li class="menu-item">
                <a class="menu-link active">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="{{path('app_home')}}">
                    <i class="fas fa-home"></i>
                    <span>Accueil</span>
                </a>
            </li>
            
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <i class="fas fa-hashtag"></i>
                    <span>Explorer</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <i class="fas fa-bell"></i>
                    <span>Notifications</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <i class="fas fa-envelope"></i>
                    <span>Messages</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <i class="fas fa-bookmark"></i>
                    <span>Signets</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <i class="fas fa-sticky-note"></i>
                    <span>Listes</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="{{path('app_profile')}}">
                    <i class="fas fa-user"></i>
                    <span>Profil</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="#">
                    <i class="fas fa-ellipsis-h"></i>
                    <span>Plus</span>
                </a>
            </li>

            <li class="button-add-twit">
                <a class="add-twit" href="#">
                    <span>Tweeter</span>
                </a>
            </li>

            {% if app.user %}
            <li class="menu-item">
                <a class="menu-link" href="#">
                    {% if app.user.picture %}
                    <img src="{{ profile_image ~ app.user.picture}}" alt="" class="user-img-30">
                    <span>{{app.user.username}}</span>
                    {% else %}
                    <img class="user-img-30" src="../img/backgrounds/default_profile.png" />
                    <span>{{app.user.username}}</span>
                    {% endif %}
                </a>

                <div class="box">
                    {% if app.user.picture %}
                    <img src="{{ profile_image ~ app.user.picture}}" alt="" class="user-img-40">
                    {% else %}
                    <img class="user-img-40" src="../img/backgrounds/default_profile.png" />
                    {% endif %}

                    <p class="name">{{app.user.username}}</p>
                    <p class="username">@{{app.user.username}}</p>
                    <div class="bio">{{app.user.bio}}</div>
                        <div class="folow">
                            <a href="#"><span>83</span> Following</a>
                            <a href="#"><span>83</span> Followers</a>
                        </div>
                    <div class="logout">
                        <a href="{{path('app_logout')}}" class="linkLogout">Se déconnecter</a>
                    </div>    
                    </div>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="side-main"> 
    <div class="top-fixed">
        {% if app.request.attributes.get('_route') == 'app_home' %}
            <a href="{{ path("app_home") }}" class="link-home">Accueil</a>
        {% elseif app.request.attributes.get('_route') == 'show_post' %}
            <h1 class="link-home">Voir un post</h1>
        {% elseif app.request.attributes.get('_route') == 'app_search' %}
            <h1 class="link-home">Résultat de recherche</h1>
        {% elseif app.request.attributes.get('_route') == 'app_profile' %}
        <h1 class="link-home">Profil</h1>
        {% endif %} 
    </div>

    <div class="main-content-scroll">

